@media (max-width: 768px) {
  p {
    font-family: Inter;
    font-size: 12px;
    line-height: 22px;
  }

  h1 {
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 2.5px;
  }

  h2 {
    font-size: 20px;
    line-height: 44px;
    font-weight: bold;
  }
  
  h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  h4 {
    font-weight: lighter;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .options-informations > div:first-child {
    flex-wrap: wrap;
    padding: 32px 0;
  }

  .block {
    width: 100%;
  }

  .block > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block + .block {
    padding-left: 0;
    border-left: none;
  }
}